<div class="w-full mb-10 flex items-center flex-no-wrap justify-between">
	<h3 lang langLabel="referencia-comerciales:titulo" class="font-bold m-0 display-block w-full m-0">Referencias
		comerciales</h3>

	<button (click)="ObtenerTodo()" nz-button nzType="text" nz-tooltip [nzTooltipTitle]="titleTemplate">
		<i nz-icon nzType="reload" nzTheme="outline"></i>
	</button>
	<ng-template #titleTemplate>
		<span lang langLabel="vs-tooltip:recargar">
			Volver a cargar
		</span>
	</ng-template>
</div>

<form nz-form [formGroup]="form" class="grid w-full gap-15">
	<div class="grid-col-6">
		<p lang langLabel="referencia-comerciales:lugar" class="label">Lugar:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<vs-select-lugar formControlName="lugar" class="w-full"></vs-select-lugar>
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-4">
		<p lang langLabel="referencia-comerciales:establecimiento" class="label">Establecimiento:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<input vs-trim nz-input formControlName="establecimiento">
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-2">
		<p lang langLabel="referencia-comerciales:fecha-relacion" class="label">Fecha relación:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<nz-date-picker
					[nzDisabledDate]="disabledDate"
					[nzFormat]="dateFormat" class="w-full" formControlName="fechaRelacion"></nz-date-picker>
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-2">
		<p lang langLabel="referencia-comerciales:monto" class="label">Monto de deuda:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<nz-input-number decimalSeparator
								 class="w-full"
								 [nzMin]="0"
								 formControlName="montoCredito"
								 [nzFormatter]="formatterDollar"
								 [nzParser]="parserDollar"
				></nz-input-number>
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-2">
		<p lang langLabel="referencia-comerciales:plazo" class="label">Plazo:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<input vs-trim nz-input formControlName="plazo">
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-2">
		<p lang langLabel="referencia-comerciales:periodo-plazo" class="label">Periodo plazo:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<vs-select-tipo-tiempo formControlName="codigoTipoTiempo"></vs-select-tipo-tiempo>
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div *ngIf="form.get('lugar')?.value" class="grid-col-2">
		<p lang langLabel="celulares:codigo-pais" class="label">Código país:</p>
		<p class="m-0">
			{{ form.get('lugar')!.value.codigoPais ?? '*' }}
		</p>
	</div>

	<div class="grid-col-3">
		<p lang langLabel="referencia-comerciales:telefono" class="label">Teléfono:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback nzErrorTip="El campo es requerido">
				<input nz-input formControlName="telefono">
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-3">
		<p class="label" style="opacity: 0;">.</p>
		<div class="w-full flex items-center flex-no-wrap">
			<button nz-button nzType="primary" class="w-full" (click)="IngresarFila()">
				<div lang langLabel="referencia-comerciales:insertar-referencia-comerciales"
					 *ngIf="_accion === 'Insertar'; else elseBlock">Insertar
				</div>
				<ng-template #elseBlock>
					<div lang langLabel="referencia-comerciales:actualizar-referencia-comerciales">
						Actualizar
					</div>
				</ng-template>
			</button>
			<button *ngIf="_accion !== 'Insertar'"
					(click)="ResetearVista()"
					nz-tooltip nzTooltipTitle="Nuevo registro"
					nz-button style="width: 4rem;" class="ml-7"><i nz-icon nzType="plus" nzTheme="outline"></i></button>
		</div>
	</div>
</form>

<div class="w-full pt-30">
	<vs-table [showPagination]="false" [data]="listaReferenciaComercial" [loading]="cargando.listar">
		<thead>
		<tr>
			<th lang langLabel="referencia-comerciales:establecimiento">Establecimiento</th>
			<th lang langLabel="referencia-comerciales:fecha-relacion">Fecha de Relación</th>
			<th lang langLabel="celulares:codigo-pais">Código Pais</th>
			<th lang langLabel="referencia-comerciales:telefono">Teléfono</th>
			<th class="min-size"></th>
		</tr>
		</thead>
		<tbody>
		<ng-container *ngFor="let data of listaReferenciaComercial; let i = index">
			<ng-container *ngIf="data.accion != accionesHtml.Eliminar">
				<tr>
					<td>{{data.objeto.establecimiento}}</td>
					<td>{{data.objeto.fechaRelacion | date:'dd-MM-yyyy'}}</td>
					<td>{{data.objeto.codigoPais }}</td>
					<td>{{data.objeto.telefono}}</td>
					<td>
						<div class="flex items-center flex-no-wrap">
							<button nz-tooltip [nzTooltipTitle]="titleEditar" nz-button nzType="text" class=""
									(click)="EditarFila(data,i)">
								<i nz-icon nzType="edit" nzTheme="outline"></i>
							</button>

							<button
								nz-popconfirm
								[nzPopconfirmTitle]="titleConfirmarEliminar"
								(nzOnConfirm)="EliminarFila(i)"
								nz-tooltip [nzTooltipTitle]="titleEliminar" nz-button nzType="text"
								class="text-red-600 hover:text-red-800"
							>
								<i nz-icon nzType="delete" nzTheme="outline"></i>
							</button>
							<ng-template #titleEditar>
								<span lang langLabel="vs-tooltip:editar">Editar</span>
							</ng-template>
							<ng-template #titleEliminar>
								<span lang langLabel="vs-tooltip:eliminar">Eliminar</span>
							</ng-template>
							<ng-template #titleConfirmarEliminar>
								<span lang langLabel="vs-tooltip:confirmar-eliminar">Eliminar</span>
							</ng-template>
						</div>
					</td>
				</tr>
			</ng-container>
		</ng-container>
		</tbody>
	</vs-table>
</div>

<div class="w-full pt-20 text-right" *ngIf="mostrarGuardar">
	<button nz-button nzType="primary" [nzLoading]="cargando.guardar" class="vs-btn-green" (click)="GuardarBase()">
		Guardar cambios
	</button>
</div>
