<div class="w-full mb-10 flex items-center flex-no-wrap justify-between">
	<h3 lang langLabel="estado-financiero:titulo" class="font-bold m-0 display-block w-full m-0">Situación
		financiera</h3>
	<button (click)="ObtenerTodo()" nz-button nzType="text" nz-tooltip [nzTooltipTitle]="titleTemplate">
		<i nz-icon nzType="reload" nzTheme="outline"></i>
	</button>
	<ng-template #titleTemplate>
		<span lang langLabel="vs-tooltip:recargar">
			Volver a cargar
		</span>
	</ng-template>
</div>
<div class="w-full pt-20 text-right">
	<button nz-button nzType="primary" class="vs-btn-green" (click)="GuardarBase()">
		<div lang langLabel="estado-financiero:guardar-cambios">Guardar Cambios</div>
	</button>
</div>
<div class="w-full">
	<nz-tabset nzType="card"
			   [(nzSelectedIndex)]="tabSeleccionado"
			   (nzSelectedIndexChange)="cambioTab($event)">
		<nz-tab [nzTitle]="titleTemplateTab">
			<ng-template #titleTemplateTab>
				<p lang langLabel="estado-financiero:activos-pasivos" class="m-0">Activos y Pasivos</p>
			</ng-template>
			<div class="w-full grid">
				<div class="grid-col-12 mb-10" style="height: 19rem;">
					<div class="mx-auto flex justify-center h-full flex-no-wrap w-full" style="max-width: 80rem;">
						<div>
							<div
								class="h-full flex justify-between p-12 pb-10 mr-20 bg-theme-bluegray-100 border-1 border-solid border-theme-bluegray-300 rounded-sm"
								style="flex-direction: column;">
								<div class="mb-7">
									<p lang langLabel="estado-financiero:total-activos"
									   class="font-medium m-0 text-center w-full display-block"
									   style="line-height: 1.6rem;">TOTAL ACTIVOS</p>
									<p class="white-space-nowrap text-md font-bold text-theme-primary m-0 text-center w-full display-block">
										{{ labels.activosPasivos.activos }}</p>
								</div>
								<div class="mb-7">
									<p lang langLabel="estado-financiero:total-pasivos"
									   class="font-medium m-0 text-center w-full display-block"
									   style="line-height: 1.6rem;">TOTAL PASIVOS</p>
									<p class="white-space-nowrap text-md font-bold text-theme-primary m-0 text-center w-full display-block">
										{{ labels.activosPasivos.pasivos }}</p>
								</div>
								<div>
									<p lang langLabel="estado-financiero:patrimonio"
									   class="font-medium m-0 text-center w-full display-block"
									   style="line-height: 1.6rem;">PATRIMONIO</p>
									<p class="white-space-nowrap text-md font-bold text-theme-primary m-0 text-center w-full display-block">
										{{ +(labels.activosPasivos.activos - labels.activosPasivos.pasivos).toFixed(2) }}</p>
								</div>
							</div>
						</div>
						<div id="container" style="width: auto; height: 100%;"></div>
					</div>
				</div>

				<div class="grid-col-6 md:grid-col-12 relative pl-30">
					<h4 lang langLabel="estado-financiero:activos" class="rotated-text">Activos</h4>

					<vs-table [loading]="cargando.listar" #tba [data]="listaEstadoFinancieroA" [showPagination]="false">
						<thead>
						<tr>
							<th lang langLabel="estado-financiero:descripcion">Descripción</th>
							<th lang langLabel="estado-financiero:valor">Valor</th>
							<th lang langLabel="estado-financiero:observaciones">Observaciones</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<ng-container *ngFor="let data of listaEstadoFinancieroA;let i=index">
							<tr>
								<td>{{ data.objeto.descripcion | titlecase }}</td>

								<td>{{ data.objeto.valor | currency }}</td>
								<td>{{ data.objeto.observacion }}</td>
								<td>
									<div class="flex items-center flex-no-wrap">
										<ng-container *ngIf="!data.objeto.codigoComponente">
											<button nz-tooltip nz-popover nz-button
													nzPopoverTrigger="click"
													[nzPopoverTitle]="data.objeto.descripcion?.toLowerCase()"
													[nzPopoverContent]="editarValor"
													[nzTooltipTitle]="titleEditar" nzType="text">
												<i nz-icon nzType="edit" nzTheme="outline"></i>
											</button>
										</ng-container>
										<ng-container *ngIf="data.objeto.codigoComponente">
											<button (click)="abrirModalComponente(data.objeto.codigoComponente)"
													nz-tooltip [nzTooltipTitle]="titleVerOEditar" nz-button
													nzType="text">
												<i nz-icon nzType="plus" nzTheme="outline"></i>
											</button>
										</ng-container>

										<ng-template #editarValor>
											<div class="w-full mb-10">
												<p class="label w-full">Valor</p>
												<nz-input-number decimalSeparator
																 class="w-full"
																 [nzMin]="0"
																 [(ngModel)]="data.objeto.valor"
																 [nzFormatter]="formatterDollar"
																 [nzParser]="parserDollar"
												></nz-input-number>
											</div>
											<div class="w-full mb-10">
												<p class="label w-full">Descripcion</p>
												<textarea nz-input vs-trim class="w-full"
														  [(ngModel)]="data.objeto.observacion"></textarea>
											</div>
										</ng-template>
									</div>
								</td>
							</tr>
						</ng-container>
						</tbody>
					</vs-table>
				</div>

				<div class="grid-col-6 md:grid-col-12 relative pl-30">
					<h4 lang langLabel="estado-financiero:pasivos" class="rotated-text">Pasivos</h4>

					<vs-table [loading]="cargando.listar" #tba [data]="listaEstadoFinancieroP" [showPagination]="false">
						<thead>
						<tr>
							<th lang langLabel="estado-financiero:descripcion">Descripción</th>
							<th lang langLabel="estado-financiero:valor">Valor</th>
							<th lang langLabel="estado-financiero:observaciones">Observaciones</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<ng-container *ngFor="let data of listaEstadoFinancieroP;let i=index">
							<tr>
								<td>{{ data.objeto.descripcion | titlecase }}</td>

								<td>{{ data.objeto.valor }}</td>
								<td>{{ data.objeto.observacion }}</td>
								<td>
									<div class="flex items-center flex-no-wrap">
										<ng-container *ngIf="!data.objeto.codigoComponente">
											<button nz-tooltip nz-popover nz-button
													nzPopoverTrigger="click"
													[nzPopoverTitle]="data.objeto.descripcion?.toLowerCase()"
													[nzPopoverContent]="editarValor"
													[nzTooltipTitle]="titleEditar" nzType="text">
												<i nz-icon nzType="edit" nzTheme="outline"></i>
											</button>
										</ng-container>
										<ng-container *ngIf="data.objeto.codigoComponente">
											<button (click)="abrirModalComponente(data.objeto.codigoComponente)"
													nz-tooltip [nzTooltipTitle]="titleVerOEditar" nz-button
													nzType="text">
												<i nz-icon nzType="plus" nzTheme="outline"></i>
											</button>
										</ng-container>

										<ng-template #editarValor>
											<div class="w-full mb-10">
												<p class="label w-full">Valor</p>
												<nz-input-number decimalSeparator
																 class="w-full"
																 [nzMin]="0"
																 [(ngModel)]="data.objeto.valor"
																 [nzFormatter]="formatterDollar"
																 [nzParser]="parserDollar"
												></nz-input-number>
											</div>
											<div class="w-full mb-10">
												<p class="label w-full">Descripcion</p>
												<textarea nz-input vs-trim class="w-full"
														  [(ngModel)]="data.objeto.observacion"></textarea>
											</div>
										</ng-template>
									</div>
								</td>
							</tr>
						</ng-container>
						</tbody>
					</vs-table>
				</div>
			</div>
		</nz-tab>

		<nz-tab [nzTitle]="titleTemplate2">
			<ng-template #titleTemplate2>
				<p lang langLabel="estado-financiero:ingresos-gastos" class="m-0">Ingresos y Gastos</p>
			</ng-template>
			<div class="w-full grid">
				<div class="grid-col-12 mb-10" style="height: 19rem;">
					<div class="mx-auto flex justify-center h-full flex-no-wrap w-full" style="max-width: 80rem;">
						<div class="mx-auto flex justify-center h-full flex-no-wrap w-full" style="max-width: 80rem;">
							<div>
								<div
									class="h-full flex justify-around p-12 pb-10 mr-20 bg-theme-bluegray-100 border-1 border-solid border-theme-bluegray-300 rounded-sm"
									style="flex-direction: column;">
									<div class="mb-7">
										<p lang langLabel="estado-financiero:total-ingresos"
										   class="font-medium m-0 text-center w-full display-block"
										   style="line-height: 1.6rem;">TOTAL INGRESOS</p>
										<p class="white-space-nowrap text-md font-bold text-theme-primary m-0 text-center w-full display-block">
											{{ labels.ingresosGastos.ingresos }}</p>
									</div>
									<div class="">
										<p lang langLabel="estado-financiero:total-gastos"
										   class="font-medium m-0 text-center w-full display-block"
										   style="line-height: 1.6rem;">TOTAL GASTOS</p>
										<p class="white-space-nowrap text-md font-bold text-theme-primary m-0 text-center w-full display-block">
											{{ labels.ingresosGastos.gastos }}</p>
									</div>
								</div>
							</div>
							<div id="container-pie" style="width: auto; height: 100%;"></div>
						</div>
					</div>
				</div>

				<div class="grid-col-6 md:grid-col-12 relative pl-30">
					<h4 lang langLabel="estado-financiero:ingresos" class="rotated-text">Ingresos</h4>

					<vs-table [loading]="cargando.listar" #tba [data]="listaEstadoFinancieroI" [showPagination]="false">
						<thead>
						<tr>
							<th lang langLabel="estado-financiero:descripcion">Descripción</th>
							<th lang langLabel="estado-financiero:valor">Valor</th>
							<th lang langLabel="estado-financiero:observaciones">Observaciones</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<ng-container *ngFor="let data of listaEstadoFinancieroI;let i=index">
							<tr>
								<td>{{ data.objeto.descripcion | titlecase }}</td>

								<td>{{ data.objeto.valor }}</td>
								<td>{{ data.objeto.observacion }}</td>
								<td>
									<div class="flex items-center flex-no-wrap">
										<ng-container *ngIf="!data.objeto.codigoComponente">
											<button nz-tooltip nz-popover nz-button
													nzPopoverTrigger="click"
													[nzPopoverTitle]="data.objeto.descripcion?.toLowerCase()"
													[nzPopoverContent]="editarValor"
													[nzTooltipTitle]="titleEditar" nzType="text">
												<i nz-icon nzType="edit" nzTheme="outline"></i>
											</button>
										</ng-container>
										<ng-container *ngIf="data.objeto.codigoComponente">
											<button (click)="abrirModalComponente(data.objeto.codigoComponente)"
													nz-tooltip [nzTooltipTitle]="titleVerOEditar" nz-button
													nzType="text">
												<i nz-icon nzType="plus" nzTheme="outline"></i>
											</button>
										</ng-container>

										<ng-template #editarValor>
											<div class="w-full mb-10">
												<p class="label w-full">Valor</p>
												<nz-input-number decimalSeparator
																 class="w-full"
																 [nzMin]="0"
																 [(ngModel)]="data.objeto.valor"
																 [nzFormatter]="formatterDollar"
																 [nzParser]="parserDollar"
												></nz-input-number>
											</div>
											<div class="w-full mb-10">
												<p class="label w-full">Descripcion</p>
												<textarea nz-input vs-trim class="w-full"
														  [(ngModel)]="data.objeto.observacion"></textarea>
											</div>
										</ng-template>
									</div>
								</td>
							</tr>
						</ng-container>
						</tbody>
					</vs-table>
				</div>

				<div class="grid-col-6 md:grid-col-12 relative pl-30">
					<h4 lang langLabel="estado-financiero:gastos" class="rotated-text">Gastos</h4>

					<vs-table [loading]="cargando.listar" #tba [data]="listaEstadoFinancieroG" [showPagination]="false">
						<thead>
						<tr>
							<th lang langLabel="estado-financiero:descripcion">Descripción</th>
							<th lang langLabel="estado-financiero:valor">Valor</th>
							<th lang langLabel="estado-financiero:observaciones">Observaciones</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<ng-container *ngFor="let data of listaEstadoFinancieroG;let i=index">
							<tr>
								<td>{{ data.objeto.descripcion | titlecase }}</td>

								<td>{{ data.objeto.valor }}</td>
								<td>{{ data.objeto.observacion }}</td>
								<td>
									<div class="flex items-center flex-no-wrap">
										<ng-container *ngIf="!data.objeto.codigoComponente">
											<button nz-tooltip nz-popover nz-button
													nzPopoverTrigger="click"
													[nzPopoverTitle]="data.objeto.descripcion?.toLowerCase()"
													[nzPopoverContent]="editarValor"
													[nzTooltipTitle]="titleEditar" nzType="text">
												<i nz-icon nzType="edit" nzTheme="outline"></i>
											</button>
										</ng-container>
										<ng-container *ngIf="data.objeto.codigoComponente">
											<button (click)="abrirModalComponente(data.objeto.codigoComponente)"
													nz-tooltip [nzTooltipTitle]="titleVerOEditar" nz-button
													nzType="text">
												<i nz-icon nzType="plus" nzTheme="outline"></i>
											</button>
										</ng-container>

										<ng-template #editarValor>
											<div class="w-full mb-10">
												<p class="label w-full">Valor</p>
												<nz-input-number decimalSeparator
																 class="w-full"
																 [nzMin]="0"
																 [(ngModel)]="data.objeto.valor"
																 [nzFormatter]="formatterDollar"
																 [nzParser]="parserDollar"
												></nz-input-number>
											</div>
											<div class="w-full mb-10">
												<p class="label w-full">Descripcion</p>
												<textarea nz-input vs-trim class="w-full"
														  [(ngModel)]="data.objeto.observacion"></textarea>
											</div>
										</ng-template>
									</div>
								</td>
							</tr>
						</ng-container>
						</tbody>
					</vs-table>
				</div>
			</div>
		</nz-tab>
	</nz-tabset>
</div>
<ng-template #cerrarEditar>
	<button (click)="cuentaEditar = ''" nz-tooltip
			nzTooltipTitle="Aceptar" nz-button nzType="text" class="mr-7">
		<i nz-icon nzType="check-circle" nzTheme="outline"></i>
	</button>
</ng-template>
<ng-template #titleEditar>
	<span lang langLabel="vs-tooltip:editar">Editar</span>
</ng-template>
<ng-template #titleVerOEditar>
	<span lang langLabel="vs-tooltip:ver-o-editar">Ver y/o editar</span>
</ng-template>
