<div class="w-full mb-10 flex items-center flex-no-wrap justify-between">
	<h3 lang langLabel="referencia-personal:titulo" class="font-bold m-0 display-block w-full m-0">Referencias
		personales</h3>

	<button (click)="ObtenerTodo()" nz-button nzType="text" nz-tooltip [nzTooltipTitle]="titleTemplate">
		<i nz-icon nzType="reload" nzTheme="outline"></i>
	</button>
	<ng-template #titleTemplate>
	<span lang langLabel="vs-tooltip:recargar">
		Volver a cargar
	</span>
	</ng-template>
</div>

<form nz-form [formGroup]="form" class="grid w-full gap-15">
	<input hidden nz-input formControlName="codigoPersonaReferida">

	<div class="grid-col-6">
		<p lang langLabel="referencia-personal:identificacion" class="label">Identificación:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<vs-select-persona class="w-full" [personaDatos]="null" [esConyugue]="false"
								   formControlName="codigoPersonaReferida"></vs-select-persona>
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-3">
		<p lang langLabel="referencia-personal:fecha-relacion" class="label">Fecha de Relación:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<nz-date-picker
					[nzDisabledDate]="disabledDate"
					(ngModelChange)="calcularTiempoRelacion($event, false)"
					[nzFormat]="dateFormat"
					formControlName="fechaConoce"
					class="w-full"></nz-date-picker>
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-3">
		<p lang langLabel="referencia-personal:tiempo-relacion" class="label">Tiempo de Relación:</p>
		{{tiempoRelacion !== "" ? tiempoRelacion : '-' }}
	</div>

	<div class="grid-col-6">
		<p lang langLabel="referencia-personal:observaciones" class="label">Observaciones:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<input vs-trim nz-input formControlName="observaciones">
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-2">
		<p class="label" style="opacity: 0;">.</p>
		<button nz-button nzType="primary" class="w-full" (click)="IngresarFila()">
			<div lang langLabel="referencia-personal:insertar-referencia-personal"
				 *ngIf="_accion === 'Insertar'; else elseBlock">Insertar
			</div>
			<ng-template #elseBlock>
				<div lang langLabel="referencia-personal:actualizar-referencia-personal">
					Actualizar
				</div>
			</ng-template>
		</button>
	</div>
	<!--	<div class="grid-col-12">-->
	<!--		{{form.getRawValue() | json}}-->
	<!--	</div>-->
</form>

<div class="w-full pt-30">
	<vs-table [showPagination]="false" [data]="listaReferenciaPersonal" [loading]="cargando.listar">
		<thead>
		<tr>
			<th lang langLabel="referencia-personal:codigo-persona">Código de Persona</th>
			<th lang langLabel="referencia-personal:nombres">Nombres</th>
			<th lang langLabel="referencia-personal:apellido-paterno">Apellido Paterno</th>
			<th lang langLabel="referencia-personal:apellido-materno">Apellido Materno</th>
			<th lang langLabel="referencia-personal:tiempo-relacion">Tiempo de relación</th>
			<th class="min-size"></th>
		</tr>
		</thead>
		<tbody>
		<ng-container *ngFor="let data of listaReferenciaPersonal; let i = index">
			<ng-container *ngIf="data.accion != accionesHtml.Eliminar">
				<tr>
					<td>{{data.objeto.codigoPersonaReferida}}</td>
					<td>{{data.objeto.nombres}}</td>
					<td>{{data.objeto.apellidoPaterno}}</td>
					<td>{{data.objeto.apellidoMaterno}}</td>
					<td>{{ calcularTiempoRelacion(data.objeto.fechaConoce, true) }}</td>
					<td>
						<div class="flex items-center flex-no-wrap">
							<button nz-tooltip [nzTooltipTitle]="titleVerInformacion" nz-button nzType="text"
									(click)="VerInformacionPersona(data.objeto.codigoPersonaReferida)">
								<i nz-icon nzType="eye" nzTheme="outline"></i>
							</button>
							<button 
							nz-popconfirm
							[nzPopconfirmTitle]="titleConfirmarEliminar"
							(nzOnConfirm)="EliminarFila(i)"
							nz-tooltip [nzTooltipTitle]="titleEliminar" nz-button nzType="text"
									class="text-red-600 hover:text-red-800"
									>
								<i nz-icon nzType="delete" nzTheme="outline"></i>
							</button>
							<ng-template #titleVerInformacion>
								<span lang langLabel="vs-tooltip:ver-informacion">Ver información</span>
							</ng-template>
							<ng-template #titleEliminar>
								<span lang langLabel="vs-tooltip:eliminar">Eliminar</span>
							</ng-template>
							<ng-template #titleConfirmarEliminar>
								<span lang langLabel="vs-tooltip:confirmar-eliminar">Eliminar</span>
							</ng-template>
						</div>
					</td>
				</tr>
			</ng-container>
		</ng-container>
		</tbody>
	</vs-table>
</div>
<!--<div class="w-full pt-20 text-right" *ngIf="mostrarGuardar">-->
<!--	<button nz-button nzType="primary" [nzLoading]="cargando.guardar" class="vs-btn-green" (click)="GuardarBase()">-->
<!--		Guardar cambios-->
<!--	</button>-->
<!--</div>-->
