<div>
	<div class="w-full mb-20">
		<nz-upload
			nzType="drag"
			[nzMultiple]="true"
			[nzShowUploadList]="false"
			[nzFileList]="archivosCargados"
			(nzFileListChange)="seleccionarArchivos($event)">
			<p class="ant-upload-drag-icon w-full text-center m-0">
				<i nz-icon nzType="inbox" class="m-0"></i>
			</p>
			<p lang langLabel="subir-documento:subir-documento" class="ant-upload-text m-0">Haga click o arrastre los archivos a esta área para subir</p>
		</nz-upload>
	</div>

	<ng-container>
		<div class="w-full grid">

			<h4 lang langLabel="subir-documento:documento-seleccionado" class="font-bold grid-col-12 m-0">Documentos seleccionados</h4>

			<ng-container *ngFor="let form of documentos; let index = index">
				<form [formGroup]="form" class=" relative grid-col-4 rounded-sm border-solid border-1 border-theme-bluegray-300 p-15">
					<!--DOCUMENTO-->
					<div class="w-full mb-5 flex items-center flex-no-wrap justify-between">
						<p class="m-0 font-bold">
							<i class="m-0" nz-icon nzType="file" nzTheme="outline"></i>
							{{ form.get('documento')?.value?.name }}
						</p>

						<button (click)="quitarArchivoSeleccionado(index)" nz-button nzType="text"><i class="cursor-pointer text-red-600" nz-icon nzType="delete" nzTheme="outline"></i></button>
					</div>

					<div class="w-full mb-15">
						<p lang langLabel="subir-documento:fecha-vigencia" class="label">Fecha vigencia</p>
						<nz-date-picker
						class="w-full"
						[nzFormat]="dateFormat"
						[nzDisabledDate]="disabledDate"
						nzPlaceHolder="dd/MM/yyyy"
						
						formControlName="fechaVigencia"></nz-date-picker>
						<!--<nz-date-picker
							class="w-full"
							nzFormat="yyyy-MM-dd"
							[nzDisabledDate]="disabledDate"
							formControlName="fechaVigencia"
							></nz-date-picker>-->
					</div>

					<div class="w-full">
						<p lang langLabel="subir-documento:observaciones" class="label">Observaciones</p>
						<textarea nz-input formControlName="observaciones" class="w-full"></textarea>
					</div>

					<ng-container *ngIf="form.get('guardadoOk')?.value === true">
						<div style="background: rgba(255,255,255,0.8);" class="absolute top-0 left-0 flex items-center justify-center w-full h-full p-15">
							<div>
								<i nz-icon class="w-full text-center m-0 mb-7 display-block text-green-700" style="font-size: 4.5rem" nzType="check-circle" nzTheme="outline"></i>
								<p lang langLabel="subir-documento:documento-guardado" class="label text-center">Documento guardado correctamente</p>
							</div>
						</div>
					</ng-container>
				</form>
			</ng-container>

		</div>
	</ng-container>
</div>

<div *nzModalFooter>

	
	<button lang langLabel="subir-documento:cerrar-subir-documento" nz-button class="mr-12" [nzLoading]="loading" (click)="cerrarModal()">Cerrar</button>
	
	
	<button lang langLabel="subir-documento:guardar-documento"  nz-button [nzLoading]="loading" (click)="guardarDocumentos()" nzType="primary">Guardar documentos</button>
</div>
