<div class="w-full mb-10 flex items-center flex-no-wrap justify-between">
	<h3 lang langLabel="bienes-inmuebles:nombre-componente"
		class="font-bold m-0 display-block w-full m-0">{{nombreComponente}}</h3>

	<button (click)="ObtenerTodo()" nz-button nzType="text" nz-tooltip [nzTooltipTitle]="titleTemplate">
		<i nz-icon nzType="reload" nzTheme="outline"></i>
	</button>
	<ng-template #titleTemplate>
	<span lang langLabel="vs-tooltip:recargar">
		Volver a cargar
	</span>
	</ng-template>
</div>

<form [formGroup]="form">
	<div class="grid flex-align-items-center">

		<div class="grid-col-3">
			<p lang langLabel="bienes-inmuebles:tipo-bien-inmueble" class="label">Tipo de Bien Inmueble</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
					<vs-select-bien-inmueble class="w-full" formControlName="tipoBienInmueble">
					</vs-select-bien-inmueble>
					<ng-template #combineTpl let-control>
						<ng-container *ngIf="control.hasError('required')">
							<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>


		<div class="grid-col-6">
			<p lang langLabel="bienes-inmuebles:lugar-residencia" class="label">Lugar de residencia</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
					<vs-select-lugar formControlName="lugar" class="w-full"></vs-select-lugar>
					<ng-template #combineTpl let-control>
						<ng-container *ngIf="control.hasError('required')">
							<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>

		<div class="grid-col-3">
			<p lang langLabel="bienes-inmuebles:sector" class="label">Sector:</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl3">
					<input vs-trim nz-input formControlName="sector" id="txtSector" class="w-full">
					<ng-template #combineTpl3 let-control>
						<ng-container *ngIf="control.hasError('required')">
							<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
						</ng-container>
						<ng-container *ngIf="control.hasError('maxlength')">
							<p lang langLabel="vs-formulario:maxLength-cincuenta">La longitud máxima del texto es 50
								caracteres</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>

		<div class="grid-col-9 grid">
			<div class="grid-col-6">
				<p lang langLabel="bienes-inmuebles:calle-principal" class="label">Calle Principal</p>
				<nz-form-item>
					<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl6">
						<input vs-trim nz-input formControlName="callePrincipal" class="w-full">
						<ng-template #combineTpl6 let-control>
							<ng-container *ngIf="control.hasError('required')">
								<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
							</ng-container>
							<ng-container *ngIf="control.hasError('maxlength')">
								<p lang langLabel="vs-formulario:maxLength-dos-cientos">La longitud máxima del texto es
									200 caracteres</p>
							</ng-container>
						</ng-template>
					</nz-form-control>
				</nz-form-item>
			</div>

			<div class="grid-col-6">
				<p lang langLabel="bienes-inmuebles:calle-secundaria" class="label">Calle Secundaria</p>
				<nz-form-item>
					<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl7">
						<input vs-trim nz-input formControlName="calleSecundaria" class="w-full">
						<ng-template #combineTpl7 let-control>
							<ng-container *ngIf="control.hasError('required')">
								<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
							</ng-container>
							<ng-container *ngIf="control.hasError('maxlength')">
								<p lang langLabel="vs-formulario:maxLength-dos-cientos">La longitud máxima del texto es
									200 caracteres</p>
							</ng-container>
						</ng-template>
					</nz-form-control>
				</nz-form-item>
			</div>
		</div>

		<div class="grid-col-3 grid">
			<div class="grid-col-6">
				<p lang langLabel="bienes-inmuebles:numero-casa" class="label">N. de Casa</p>
				<nz-form-item>
					<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl2">
						<input vs-trim nz-input formControlName="numero" class="w-full">
						<ng-template #combineTpl2 let-control>
							<ng-container *ngIf="control.hasError('required')">
								<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
							</ng-container>
							<ng-container *ngIf="control.hasError('maxlength')">
								<p lang langLabel="vs-formulario:maxLength-diez">La longitud máxima del texto es 10
									caracteres</p>
							</ng-container>
						</ng-template>
					</nz-form-control>
				</nz-form-item>
			</div>

			<div class="grid-col-6">
				<p lang langLabel="bienes-inmuebles:codigo-postal" class="label">Código Postal</p>
				<nz-form-item>
					<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl4">
						<input vs-trim nz-input formControlName="codigoPostal" class="w-full">
						<ng-template #combineTpl4 let-control>
							<ng-container *ngIf="control.hasError('required')">
								<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
							</ng-container>
							<ng-container *ngIf="control.hasError('maxlength')">
								<p lang langLabel="vs-formulario:maxLength-diez">The maximum length of the text is 10
									characters</p>
							</ng-container>
						</ng-template>
					</nz-form-control>
				</nz-form-item>
			</div>
		</div>

		<div class="grid-col-2">
			<p lang langLabel="bienes-inmuebles:tipo-sector" class="label">Tipo de sector:</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
					<nz-radio-group
						(ngModelChange)="cambioTipoSector($event)"
						formControlName="tipoSector"
						class="flex justify-between">
						<label nz-radio nzValue="U">Urbano</label>
						<label nz-radio nzValue="R">Rural</label>
					</nz-radio-group>
					<ng-template #combineTpl let-control>
						<ng-container *ngIf="control.hasError('required')">
							<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>

		<div class="grid-col-1">
			<p class="label">Marginal</p>
			<label nz-checkbox formControlName="esMarginal"></label>
		</div>

		<div *ngIf="form.get('tipoSector')?.value == 'R'" class="grid-col-3">
			<p lang langLabel="bienes-inmuebles:comunidad" class="label">Comunidad:</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl11">
					<input vs-trim nz-input class="w-full" formControlName="comunidad" type="text">
					<ng-template #combineTpl11 let-control>
						<ng-container *ngIf="control.hasError('required')">
							<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
						</ng-container>
						<ng-container *ngIf="control.hasError('maxlength')">
							<p lang langLabel="vs-formulario:maxLength-cien">La longitud máxima del texto es 100
								caracteres</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>

		<div class="grid-col-3">
			<p lang langLabel="bienes-inmuebles:longitud" class="label">Longitud:</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
					<input type="number" nz-input formControlName="longitud" class="w-full">
					<ng-template #combineTpl let-control>
						<ng-container *ngIf="control.hasError('required')">
							<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>

		<div class="grid-col-3">
			<p lang langLabel="bienes-inmuebles:latitud" class="label">Latitud:</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
					<input type="number" nz-input formControlName="latitud" class="w-full">
					<ng-template #combineTpl let-control>
						<ng-container *ngIf="control.hasError('required')">
							<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>

		<div class="grid-col-3">
			<p lang langLabel="bienes-inmuebles:avaluo-comercial" class="label">Avalúo Comercial:</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
					<nz-input-number decimalSeparator class="w-full" [nzMin]="0" formControlName="avaluoComercial"
									 [nzFormatter]="formatterDollar" [nzParser]="parserDollar">
					</nz-input-number>
					<ng-template #combineTpl let-control>
						<ng-container *ngIf="control.hasError('required')">
							<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>

		<div class="grid-col-3">
			<p lang langLabel="bienes-inmuebles:avaluo-catastral" class="label">Avalúo Catastral:</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
					<nz-input-number decimalSeparator class="w-full" [nzMin]="0" formControlName="avaluoCatastral"
									 [nzFormatter]="formatterDollar" [nzParser]="parserDollar">
					</nz-input-number>
					<ng-template #combineTpl let-control>
						<ng-container *ngIf="control.hasError('required')">
							<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>

		<div class="grid-col-2">

			<p lang langLabel="bienes-inmuebles:area-terreno" class="label">Área de terreno:</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
					<nz-input-number [nzMin]="0" type="number" nz-input formControlName="areaTerreno"
									 class="w-full">
					</nz-input-number>
					<ng-template #combineTpl let-control>
						<ng-container *ngIf="control.hasError('required')">
							<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>

		<div class="grid-col-2">
			<p lang langLabel="bienes-inmuebles:area-construccion" class="label">Área de Construcción:</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
					<nz-input-number [nzMin]="0" type="number" nz-input formControlName="areaConstruccion"
									 class="w-full">
					</nz-input-number>
					<ng-template #combineTpl let-control>
						<ng-container *ngIf="control.hasError('required')">
							<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>


		<div class="grid-col-2">
			<p lang langLabel="bienes-inmuebles:valor-terreno-m2" class="label">Valor de terreno en m<sup>2:</sup>
			</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
					<nz-input-number [nzMin]="0" type="number" nz-input
									 formControlName="valorTerrenoMetrosCuadrados" class="w-full">
					</nz-input-number>
					<ng-template #combineTpl let-control>
						<ng-container *ngIf="control.hasError('required')">
							<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>

		<div class="grid-col-2">
			<p lang langLabel="bienes-inmuebles:fecha-construccion" class="label">Fecha de construcción</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
					<nz-date-picker
						[nzDisabledDate]="disabledDate"
						[nzFormat]="dateFormat"
						nzPlaceHolder="dd/MM/yyyy"
						class="w-full"
						(ngModelChange)="calcularTiempoConstruccion($event)"
						formControlName="fechaConstruccion"></nz-date-picker>
					<ng-template #combineTpl let-control>
						<ng-container *ngIf="control.hasError('required')">
							<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>
		<div class="grid-col-1">
			<p lang langLabel="bienes-inmuebles:tiempo-construccion" class="label">Tiempo de Construcción:</p>

			{{ edadCalculada }}

		</div>


		<div class="grid-col-5">
			<p lang langLabel="bienes-inmuebles:descripcion" class="label">Descripción:</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl5">
					<textarea vs-trim nz-input formControlName="descripcion" class="w-full" nzAutosize></textarea>
					<ng-template #combineTpl5 let-control>
						<ng-container *ngIf="control.hasError('maxlength')">
							<p lang langLabel="vs-formulario:maxLength-cien">La longitud máxima del texto es 100
								caracteres</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>

		<div class="grid-col-5">
			<p lang langLabel="bienes-inmuebles:referencia" class="label">Referencia:</p>
			<nz-form-item>
				<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl8">
					<textarea vs-trim nz-input formControlName="referencia" class="w-full" nzAutosize></textarea>
					<ng-template #combineTpl8 let-control>
						<ng-container *ngIf="control.hasError('maxlength')">
							<p lang langLabel="vs-formulario:maxLength-dos-cientos">La longitud máxima del texto es 200
								caracteres</p>
						</ng-container>
					</ng-template>
				</nz-form-control>
			</nz-form-item>
		</div>

		<div class="grid-col-2" *ngIf="mostrarListar">
			<p class="label" style="opacity: 0;">.</p>
			<div class="flex items-center flex-no-wrap w-full">
				<button nz-button nzType="primary" class="w-full" (click)="IngresarFila()">
					<div lang langLabel="bienes-muebles:insertar-bien-mueble"
						 *ngIf="_accion === 'Insertar'; else elseBlock">Insertar
					</div>
					<ng-template #elseBlock>
						<div lang langLabel="bienes-muebles:actualizar-bien-mueble">
							Actualizar
						</div>
					</ng-template>
				</button>
				<button *ngIf="_accion !== 'Insertar'"
						(click)="ResetearVista()"
						nz-tooltip nzTooltipTitle="Nuevo registro"
						nz-button style="width: 4rem;" class="ml-7"><i nz-icon nzType="plus" nzTheme="outline"></i>
				</button>
			</div>
		</div>
	</div>
</form>


<div class="w-full pt-20" *ngIf="mostrarListar">
	<nz-table [nzShowPagination]="false" nzSize="small" [nzLoading]="cargando.listar" [nzData]="listaBienesInmuebles">
		<thead>
		<tr>
			<th lang langLabel="bienes-inmuebles:parroquia">Parroquia</th>
			<th lang langLabel="bienes-inmuebles:sector">Sector</th>
			<th lang langLabel="bienes-inmuebles:calles">Calles</th>
			<th lang langLabel="bienes-inmuebles:descripcion">Descripción</th>

			<th class="min-size"></th>
		</tr>
		</thead>
		<tbody>
		<ng-container *ngFor="let data of listaBienesInmuebles; let i = index">
			<ng-container *ngIf="data.accion != accionesHtml.Eliminar">
				<tr>
					<td>{{ data.objeto.nombreParroquia }}</td>
					<td>{{ data.objeto.sector }}</td>
					<td style="word-wrap: break-word; word-break: break-all;">{{ data.objeto.callePrincipal }}
						y {{ data.objeto.calleSecundaria }}
						- {{ data.objeto.numero }}
					</td>
					<td style="word-wrap: break-word; word-break: break-all;">{{ data.objeto.descripcion }}</td>


					<td>
						<div class="flex items-center flex-no-wrap">
							<button nz-tooltip [nzTooltipTitle]="titleEditar" nz-button nzType="text" class="mr-7"
									(click)="EditarFila(data,i)">
								<i nz-icon nzType="edit" nzTheme="outline"></i>
							</button>

							<button
								nz-popconfirm
								[nzPopconfirmTitle]="titleConfirmarEliminar"
								(nzOnConfirm)="EliminarFila(i)"
								nz-tooltip [nzTooltipTitle]="titleEliminar" nz-button nzType="text"
								class="text-red-600 hover:text-red-800">
								<i nz-icon nzType="delete" nzTheme="outline"></i>
							</button>
							<button nz-tooltip [nzTooltipTitle]="titleMostrarMapa" nz-button nzType="text"
									(click)="mostrarMapa(data)">
								<i nz-icon>
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
										 viewBox="0 0 24 24" fill="none" stroke="#0F55EC" stroke-width="2"
										 stroke-linecap="round" stroke-linejoin="round"
										 class="feather feather-map-pin">
										<path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
										<circle cx="12" cy="10" r="3"></circle>
									</svg>
								</i>
							</button>
							<ng-template #titleEditar>
								<span lang langLabel="vs-tooltip:editar">Editar</span>
							</ng-template>
							<ng-template #titleEliminar>
								<span lang langLabel="vs-tooltip:eliminar">Eliminar</span>
							</ng-template>
							<ng-template #titleMostrarMapa>
								<span lang langLabel="vs-tooltip:mostrar-mapa">Mostrar Mapa</span>
							</ng-template>
							<ng-template #titleConfirmarEliminar>
								<span lang langLabel="vs-tooltip:confirmar-eliminar">Eliminar</span>
							</ng-template>
						</div>
					</td>
				</tr>
			</ng-container>
		</ng-container>
		</tbody>

	</nz-table>
</div>

<div class="w-full pt-20 text-right" *ngIf="mostrarGuardar">
	<button nz-button nzType="primary" [nzLoading]="cargando.guardar" class="vs-btn-green" (click)="GuardarBase()">
		Guardar cambios
	</button>
</div>
