<div class="w-full h-full flex flex-no-wrap">
	<div class="vs-tabs-list overflow-y-auto w-full px-10 py-20 border-r-1 border-solid border-theme-bluegray-300" style="width: 25rem;">
		<ng-container *ngFor="let tab of tabs">
			<!-- <p (click)="selectTab(tab)"
				class="user-select-none border-solid border-1 flex items-center flex-no-wrap w-full font-medium px-10 py-7 rounded-sm mb-7"
				[ngClass]="{
					'text-theme-black-100 hover:bg-theme-bluegray-300 cursor-pointer': !tab.selected && !tab.disabled,
					'border-transparent': !tab.selected,
					'text-theme-primary bg-white border-theme-primary-light cursor-default': tab.selected,
					'text-theme-bluegray-400 cursor-not-allowed': tab.disabled
				}"
			>
				<i *ngIf="tab.icon" nz-icon [nzType]="tab.icon" class="text-md m-0 mr-7" nzTheme="outline"></i> {{ tab.label }}
			</p> -->
			<p (click)="selectTab(tab)"
				class="vs-tab-header user-select-none flex items-center flex-no-wrap w-full font-medium mb-7"
				[ngClass]="{
					'vs-tab-active': tab.selected,
					'vs-tab-disabled': tab.disabled
				}"
			>
				<i *ngIf="tab.icon" nz-icon [nzType]="tab.icon" class="text-md m-0 mr-7" nzTheme="outline"></i> {{ tab.label }}
			</p>
		</ng-container>
	</div>

	<div class="h-full w-full overflow-auto">
		<div [style]="bodyStyle" [class]="bodyClass">
			<ng-content></ng-content>
		</div>
	</div>
</div>
