<div class="w-full mb-10 flex items-center flex-no-wrap justify-between">
	<h3 lang langLabel="relacion-institucional:titulo" class="font-bold m-0 display-block w-full m-0">Relación
		institucional</h3>
</div>
<div class="w-full">
	<nz-table
		[nzLoading]="cargarRelaciones"
		nzSize="small"
		[nzShowPagination]="false"
		[nzData]="datosRelacionesInstitucionales"
		[nzPageSize]="8"
	>
		<thead>
		<tr>
			<th lang langLabel="relacion-institucional:descripcion">Descripción</th>
			<th lang langLabel="relacion-institucional:fecha-asignacion">Fecha asignación</th>
		</tr>
		</thead>
		<tbody>
		<ng-container *ngFor="let relacion of datosRelacionesInstitucionales">
			<tr>
				<td>{{relacion.descripcion}}</td>
				<td>{{relacion.fechaAsignacion | date:'dd/MM/YYYY'}}</td>
			</tr>
		</ng-container>
		</tbody>

	</nz-table>
</div>

