<div *nzModalTitle>
	<h4 class="font-bold m-0 display-block">Búsqueda de Bienes Inmuebles</h4>
</div>

<div>
	<div class="grid h-full">
		

		<div class="grid-col-12">
			<div class="w-full overflow-auto relative" style="max-height: calc(100vh - 6rem - 2rem - 6rem);">
				<vs-table
					#vstable
					[loading]="isLoading"
					[data]="bienesInmuebles"
					[pageSize]="12"
				>
					<thead>
						<tr>
							<th lang langLabel="modal-buscar-bien-inmueble:codigo" class="min-size text-center">Código</th>
                            <th lang langLabel="modal-buscar-bien-inmueble:tipo">Tipo de inmueble</th>
                            <th lang langLabel="modal-buscar-bien-inmueble:sector">Sector</th>
							<th lang langLabel="modal-buscar-bien-inmueble:calle-principal">Calle Principal</th>
							<th lang langLabel="modal-buscar-bien-inmueble:calle-secundaria">Calle Secundaria</th>

							<th class="min-size"></th>
						</tr>
					</thead>

					<tbody>
						<ng-container *ngFor="let bienInmueble of vstable.data">
							<tr>
								<td class="text-center">{{ bienInmueble.numeroRegistro }}</td>
                                <td>{{ bienInmueble.tipoBienInmueble | uppercase }}</td>
                                <td>{{ bienInmueble.sector | uppercase }}</td>
								<td>{{ bienInmueble.callePrincipal | uppercase }}</td>
								<td>{{ bienInmueble.calleSecundaria | uppercase }}</td>
								<td class="min-size">
									<div class="show-on-hover" style="transition: all 0.1s;">
										<button (click)="seleccionarBienInmueble(bienInmueble)" nz-button nzType="text">Seleccionar</button>
									</div>
								</td>
							</tr>
						</ng-container>
					</tbody>

				</vs-table>
			</div>
		</div>
	</div>
</div>
