<div class="w-full mb-10 flex items-center flex-no-wrap justify-between">
	<h3 lang langLabel="trabajos:titulo" class="font-bold m-0 display-block w-full m-0">Trabajos</h3>

	<button (click)="ObtenerTodo()" nz-button nzType="text" nz-tooltip [nzTooltipTitle]="titleTemplate">
		<i nz-icon nzType="reload" nzTheme="outline"></i>
	</button>
	<ng-template #titleTemplate>
	<span lang langLabel="vs-tooltip:recargar">
		Volver a cargar
	</span>
	</ng-template>
</div>

<form nz-form [formGroup]="form" class="grid grid-col-12 caja">

	<div class="grid-col-4">
		<p lang langLabel="trabajos:categoria" class="label">Categoría:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<vs-select-categoria-trabajo
					class="w-full"
					formControlName="codigoCategoria"></vs-select-categoria-trabajo>
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-8">
		<p lang langLabel="trabajos:actividad-economica" class="label">Actividad económica:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<vs-select-actividad-economica
					class="w-full"
					formControlName="codigoActividad">
				</vs-select-actividad-economica>
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-6">
		<p lang langLabel="trabajos:razon-social" class="label">Razón social:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<input vs-trim nz-input class="w-full" formControlName="razonSocial">
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-2">
		<p lang langLabel="trabajos:fecha-ingreso" class="label">Fecha de ingreso:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<nz-date-picker
					[nzDisabledDate]="disabledDate"
					(ngModelChange)="calcularTiempoTrabajo($event, false)"
					[nzFormat]="dateFormat"
					nzPlaceHolder="dd/MM/yyyy"
					class="w-full"
					formControlName="fechaIngreso"></nz-date-picker>
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-2">
		<p lang langLabel="trabajos:tiempo-trabajo" class="label">Tiempo de trabajo:</p>
		{{tiempoTrabajo !== "" ? tiempoTrabajo : '-'  }}
	</div>

	<div class="grid-col-5">
		<p lang langLabel="trabajos:lugar-trabajo" class="label">Lugar:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<vs-select-lugar formControlName="lugar" class="w-full"></vs-select-lugar>
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-7">
		<p lang langLabel="trabajos:direccion-trabajo" class="label">Dirección:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<input vs-trim nz-input Width="70px" class="configuracionControles" formControlName="direccion">
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-4">
		<p lang langLabel="trabajos:cargo-trabajo" class="label">Cargo:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<input vs-trim nz-input class="w-full" formControlName="cargo">
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-2">
		<p lang langLabel="trabajos:ingresos-trabajo" class="label">Ingresos mensuales:</p>
		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="combineTpl">
				<nz-input-number decimalSeparator
								 class="w-full"
								 [nzMin]="0"
								 formControlName="ingresosMensuales"
								 [nzFormatter]="formatterDollar"
								 [nzParser]="parserDollar"
				></nz-input-number>
				<ng-template #combineTpl let-control>
					<ng-container *ngIf="control.hasError('required')">
						<p lang langLabel="vs-formulario:requerido">El campo es requerido</p>
					</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>

	<div class="grid-col-2">
		<p class="label" style="opacity: 0;">.</p>
		<label nz-checkbox formControlName="principal">
			<p lang langLabel="trabajos:principal-trabajo"> Es principal</p>
		</label>
	</div>

	<!-- <div class="grid-col-6">
		<p class="label">Teléfonos:</p>
		<table class="vs-table table  w-full">
			<thead>
			<tr>
				<th>Teléfono</th>
				<th>Borrar</th>
			</tr>
			</thead>
			<tbody formArrayName="telefonos">
			<tr *ngFor="let telefono of obtenerTelefonos.controls; let i = index">
				<td>
					<input nz-input [formControlName]="i" Width="180px" class="configuracionControles">
				<td>
					<button nz-button nzType="primary" nzDanger class="w-full" (click)="borrarTelefono(i)">Borrar
					</button>
				</td>
			</tr>
			</tbody>
		</table>
		<nz-alert *ngIf="form.get('telefonos')!.hasError('repetido')" nzType="error"
				  nzMessage="Teléfonos repetidos"></nz-alert>
		<nz-alert *ngIf="form.get('telefonos')!.hasError('sinValores')" nzType="error"
				  nzMessage="Teléfono no ingresado"></nz-alert>
		<nz-alert *ngIf="form.get('telefonos')!.hasError('vacio')" nzType="error"
				  nzMessage="Un teléfono es requerido"></nz-alert>
		<hr>
		<button type="button" nz-button nzType="primary" (click)="agregarTelefono()">
			Agregar
		</button>
	</div> -->
	<div class="grid-col-2">
		<p class="label hidden label">.</p>
		<button nz-button class="w-full" nzType="primary" (click)="IngresarFila()">
			<div lang langLabel="trabajos:insertar-trabajo" *ngIf="_accion === 'Insertar'; else elseBlock">Insertar
			</div>
			<ng-template #elseBlock>
				<div lang langLabel="trabajos:actualizar-trabajo">
					Actualizar
				</div>
			</ng-template>
		</button>

	</div>
	<!--	<div class="grid-col-12">-->
	<!--		{{form.getRawValue() | json}}-->
	<!--	</div>-->
</form>

<div class="w-full pt-30">
	<vs-table [showPagination]="false" [data]="listaTrabajo" [loading]="cargando.listar">
		<thead>
		<tr>
			<th lang langLabel="trabajos:razon-social">Razón Social</th>
			<!-- <th>Categoría</th> -->
			<th lang langLabel="trabajos:cargo-trabajo">Cargo</th>
			<th lang langLabel="trabajos:fecha-ingreso">Fecha ingreso</th>
			<th lang langLabel="trabajos:tiempo-trabajo">Tiempo de trabajo</th>
			<th lang langLabel="trabajos:ingresos-trabajo">Ingresos mensuales</th>
			<th class="min-size"></th>
		</tr>
		</thead>
		<tbody>
		<ng-container *ngFor="let data of listaTrabajo; let i = index">
			<!--<ng-container *ngIf="data.accion != 'E'">-->
			<ng-container *ngIf="data.accion != accionesHtml.Eliminar">
				<tr>
					<td>
						{{ data.objeto.razonSocial }}
						<ng-container *ngIf="data.objeto.principal">
							<nz-tag lang langLabel="trabajos:principal-trabajo" nzColor="#00a761" class="m-0 ml-7">
								PRINCIPAL
							</nz-tag>
						</ng-container>
					</td>
					<!-- <td>{{ data.objeto.descripcionCategoria }}</td> -->
					<td>{{ data.objeto.cargo }}</td>
					<td>{{ data.objeto.fechaIngreso  | date: 'dd/MM/yyyy' }}</td>
					<td>{{ calcularTiempoTrabajo(data.objeto.fechaIngreso, true) }}</td>
					<td>{{ data.objeto.ingresosMensuales  | currency }}</td>
					<td>
						<div class="flex items-center flex-no-wrap">
							<button
							 nz-tooltip [nzTooltipTitle]="titleEditar" nz-button nzType="text" class="mr-7"
									(click)="EditarFila(data,i)">
								<i nz-icon nzType="edit" nzTheme="outline"></i>
							</button>
							<button
							nz-popconfirm
							[nzPopconfirmTitle]="titleConfirmarEliminar"
							(nzOnConfirm)="EliminarFila(i)"
							 nz-tooltip [nzTooltipTitle]="titleEliminar" nz-button nzType="text"
									class="text-red-600 hover:text-red-800">
								<i nz-icon nzType="delete" nzTheme="outline"></i>
							</button>
							<ng-template #titleEditar>
								<span lang langLabel="vs-tooltip:editar">Editar</span>
							</ng-template>
							<ng-template #titleEliminar>
								<span lang langLabel="vs-tooltip:eliminar">Eliminar</span>
							</ng-template>
							<ng-template #titleConfirmarEliminar>
								<span lang langLabel="vs-tooltip:confirmar-eliminar">Eliminar</span>
							</ng-template>
						</div>
					</td>
				</tr>
			</ng-container>
		</ng-container>
		</tbody>
	</vs-table>
</div>

<!--<div class="w-full pt-20 text-right" *ngIf="mostrarGuardar">-->
<!--	<button nz-button nzType="primary" [nzLoading]="cargando.guardar" class="vs-btn-green" (click)="GuardarBase()">-->
<!--		Guardar cambios-->
<!--	</button>-->
<!--</div>-->
