<nz-input-group
	class="w-full"
	[nzAddOnBefore]="codigoPersona"
	[nzSuffix]="suffix">

	<input (click)="abrirModalBusqueda()" [disabled]="isDisabled" type="text"
		   [value]="value ? (nombrePersona | uppercase) : null"
		   readonly nz-input [placeholder]="placeholder"/>
</nz-input-group>

<ng-template #codigoPersona>
	<p (click)="abrirModalBusqueda()" class="m-0">
		{{ value || '####' }}
	</p>
</ng-template>

<ng-template #suffix>
	<i *ngIf="isLoading" nz-icon class="mr-5" nzType="loading" nzTheme="outline"></i>
	<i nz-icon *ngIf="value != null"
	   nzType="eye" nz-tooltip
	   (click)="abrirModalVerPersona()"
	   class="mr-5 cursor-pointer"
	   nzTooltipTitle="Ver información"
	   nzTheme="outline"></i>
	<i
		*ngIf="habilitarCrearPersona"
		nz-icon
		nzType="user-add" nz-tooltip
		(click)="abrirModalCrearPersona()"
		class="cursor-pointer"
		[nzTooltipTitle]="titleCrearPersona"
		nzTheme="outline"></i>
	<ng-template #titleCrearPersona>
		<span lang langLabel="vs-tooltip:crear-nueva-persona">Crear nueva persona</span>
	</ng-template>
</ng-template>
