<div *nzModalTitle>
	<h4 class="font-bold m-0 display-block">Búsqueda de personas</h4>
</div>

<div>
	<div class="grid h-full">
		<form [formGroup]="form" class="grid-col-12 grid">
			<div class="grid-col-3">
				<p lang langLabel="modal-buscar-persona:filtro" class="label">Filtro:</p>
				<nz-select formControlName="filtro" class="w-full" name="value" nzPlaceHolder="" nzAllowClear>
					<nz-option *ngFor="let filtro of filtros" [nzLabel]="filtro.nombre" [nzValue]="filtro.campo">
					</nz-option>
				</nz-select>
			</div>
			<div class="grid-col-6">
				<p lang langLabel="modal-buscar-persona:busqueda" class="label">Búsqueda:</p>
				<input #busqueda nz-input formControlName="busqueda" class="w-full" type="text">
			</div>

			<div class="grid-col-3">
				<p class="label">.</p>
				<button (click)="cargarPersonas()" nz-button class="vs-btn-black w-full" nzType="primary">
					<em nz-icon nzType="search" nzTheme="outline"></em>&nbsp;
					<p lang langLabel="modal-buscar-persona:buscar">Buscar</p>
				</button>
			</div>
		</form>

		<div class="grid-col-12">
			<div class="w-full overflow-auto relative" style="max-height: calc(100vh - 6rem - 2rem - 6rem);">
				<vs-table
					#vstable
					[loading]="isLoading"
					[data]="personas"
					[pageSize]="12"
				>
					<thead>
					<tr>
						<th lang langLabel="modal-buscar-persona:codigo" class="min-size text-center">Código</th>
						<th lang langLabel="modal-buscar-persona:identificacion">Identificación</th>
						<th lang langLabel="modal-buscar-persona:nombre">Nombre</th>
						<th lang langLabel="modal-buscar-persona:tipo">Tipo de pesona</th>
						<th class="min-size"></th>
					</tr>
					</thead>

					<tbody>
					<ng-container *ngFor="let persona of vstable.data">
						<tr>
							<td class="text-center">{{ persona.codigoPersona }}</td>
							<td>
								<div>
									<p class="m-0 display-block font-medium">{{ persona.numeroIdentificacion }}</p>
									<p style="margin-top: -0.3rem;"
									   class="m-0 text-smd text-theme-black-100 display-block">{{ persona.descripcionTipoIdentificacion | titlecase }}</p>
								</div>
							</td>
							<td>{{ persona.nombre | uppercase }}</td>
							<td>{{ persona.descripcionTipoPersona | titlecase }}</td>
							<td class="min-size">
								<div class="show-on-hover" style="transition: all 0.1s;">
									<button lang langLabel="modal-buscar-persona:seleccionar"
											(click)="seleccionarPersona(persona)" nz-button nzType="text">Seleccionar
									</button>
								</div>
							</td>
						</tr>
					</ng-container>
					</tbody>

				</vs-table>
			</div>
		</div>
	</div>
</div>
