<nz-input-group
	class="w-full"
	[nzAddOnBefore]="codigoPersona"
	[nzSuffix]="suffix">

	<input (click)="abrirModalBusqueda()" [disabled]="isDisabled" type="text"
		   [value]="(callePrincipal | uppercase) || null"
		   readonly nz-input [placeholder]="placeholder"/>
</nz-input-group>

<ng-template #codigoPersona>
	<p (click)="abrirModalBusqueda()" class="m-0">
		{{ lugarBien || '####' }}
	</p>
</ng-template>

<ng-template #suffix>
	<i *ngIf="isLoading" nz-icon class="mr-5" nzType="loading" nzTheme="outline"></i>
	<i nz-icon *ngIf="value != null"
	   nzType="eye" nz-tooltip
	   (click)="abrirModalVerBienInmueble()"
	   class="mr-5 cursor-pointer"
	   nzTooltipTitle="Ver información"
	   nzTheme="outline"></i>
	<i nz-icon
	   nzType="plus" nz-tooltip
	   (click)="abrirModalCrearBienInmueble()"
	   class="cursor-pointer"
	   [nzTooltipTitle]="titleCrearBienInmueble"
	   nzTheme="outline"></i>
	<ng-template #titleCrearBienInmueble>
		<span lang langLabel="vs-tooltip:crear-bien-inmueble">Crear nuevo bien inmueble</span>
	</ng-template>
</ng-template>
