<ng-container *ngIf="soportado; else notSupported">

	<ng-container *ngIf="esImagen; else iframeViewer">
		<img [ngStyle]="{'width': widthImage ? widthImage : null}" nz-image [nzSrc]="url"
			 class="cursor-pointer w-full display-block m-0">
	</ng-container>

</ng-container>

<ng-template #iframeViewer>
	<div class="w-full h-full relative">
		<pdf-viewer *ngIf="!mostrarPdfPantallaCompleta" [src]="url"
					[render-text]="true"
					[original-size]="false"
					class="w-full h-full"
		></pdf-viewer>

		<div class="bg-white absolute top-0 right-0">
			<button nz-button nzType="text" (click)="mostrarPdfPantallaCompleta = true"><i nz-icon nzType="fullscreen"
																						   nzTheme="outline"></i>
			</button>
		</div>
	</div>

	<nz-modal
		[(nzVisible)]="mostrarPdfPantallaCompleta"
		(nzOnCancel)="mostrarPdfPantallaCompleta = false"
		(nzOnOk)="mostrarPdfPantallaCompleta = false"
		[nzStyle]="{ height: 'calc(100vh - 3rem)', top: '1.5rem', width: 'calc(100vw - 3rem)', left: '1.rem' }">
		<ng-container *nzModalTitle>
			<div class="w-full pr-30 flex items-center flex-no-wrap">
				<input nz-input (keydown.enter)="search(busquedaPdf)" [(ngModel)]="busquedaPdf" type="text"
					   class="w-full mr-15">
				<button nz-button nzType="primary" (click)="search(busquedaPdf)" class="vs-btn-black">Buscar</button>
			</div>
		</ng-container>

		<ng-container *nzModalContent>
			<div class="w-full" style="height: calc(100vh - 20rem);">
				<pdf-viewer [src]="url"
							[render-text]="true"
							[render-text-mode]="1"
							[original-size]="false"
							class="w-full h-full"
				></pdf-viewer>
			</div>
		</ng-container>
	</nz-modal>
</ng-template>

<ng-template #notSupported>
	<div class="w-full flex items-center justify-center px-20 py-25">
		<i nz-icon class="w-full display-block m-0 text-center text-theme-primary mb-10" style="font-size: 4rem;"
		   nzType="file-unknown" nzTheme="outline"></i>

		<p class="w-full display-block m-0 font-medium text-center">El fichero seleccionado no puede ser
			visualizado.</p>
	</div>
</ng-template>
