<div class="w-full h-full grid">

	<div class="grid-col-7 h-full">
		<div class="border-1 border-solid border-theme-bluegray-300 relative w-full mb-20" >
			<vs-table [showPagination]="false" [data]="['']">
				<thead>
					<tr>
						<th class="min-size"></th>
						<th lang langLabel="documentos-digitalizados:documento">Documento</th>
						<th lang langLabel="documentos-digitalizados:dias-validez">Días Validez</th>
						<th class="min-size"></th>
					</tr>
				</thead>

				<tbody>
					<ng-container *ngFor="let grupo of gruposDocumentos">
						<tr>
							<td>
								<nz-radio-group [(ngModel)]="grupoSeleccionado" (ngModelChange)="listarDocumentos()">
									<label nz-radio [nzValue]="grupo"></label>
								</nz-radio-group>
							</td>
							<td>{{ grupo.descripcionDocumento }}</td>
							<td>{{ grupo.diasValidezDocu }}</td>
							<td class="show-on-hover">
								<div class="flex items-center flex-no-wrap">
									<button (click)="abrirModalSubirDocumento(grupo)" nz-tooltip [nzTooltipTitle]="titleSubirDocumento" nz-button nzType="text">
										<i nz-icon nzType="upload" nzTheme="outline"></i>
									</button>
									<ng-template #titleSubirDocumento>
										<span lang langLabel="vs-tooltip:subir-documentos">Subir documentos</span>
									</ng-template>
								</div>
							</td>
						</tr>
					</ng-container>
				</tbody>
			</vs-table>
		</div>

		<nz-spin nzTip="Cargando documentos" [nzSpinning]="cargando.listarDocumentos">
			<div class="main-file-container rounded-sm p-15 pb-0 border-1 border-solid border-theme-bluegray-300 relative w-full overflow-auto" style="max-height: calc(50% - 1rem); min-height: 6.5rem;">
				<ng-container *ngFor="let documento of documentos">
					<div (click)="seleccionarArchivo(documento)"
					nz-tooltip
					[nzTooltipTitle]="documento.nombreArchivo"
					class="file-item grid-col-3" [ngClass]="{'file-selected': documentoSeleccionado?.idDocumento == documento.idDocumento}">
						<ng-container [ngSwitch]="documento.nombreArchivo">
							<i *ngSwitchCase="'pdf'" class="file-icon" nz-icon nzType="file-pdf" nzTheme="outline"></i>
							<i *ngSwitchCase="'docx'" class="file-icon" nz-icon nzType="file-word" nzTheme="outline"></i>
							<i *ngSwitchCase="'xls'" class="file-icon" nz-icon nzType="file-excel" nzTheme="outline"></i>
							<i *ngSwitchCase="'ppt'" class="file-icon" nz-icon nzType="file-ppt" nzTheme="outline"></i>
							<i *ngSwitchDefault class="file-icon" nz-icon nzType="file" nzTheme="outline"></i>
						</ng-container>

						<p class="m-0 file-name">{{ documento.nombreArchivo }}</p>
					</div>
				</ng-container>
			</div>
		</nz-spin>

	</div>

	<div class="grid-col-5">
		<ng-container *ngIf="documentoSeleccionado">
			<div class="file-viewer rounded-sm border-1 border-solid border-theme-bluegray-300"
				[ngClass]="{'h-full': documentoSeleccionado.idDocumento}">
				<div class="file-options justify-between border-b-1 border-solid border-theme-bluegray-300 flex items-center flex-no-wrap">
					<h5 class="font-bold m-0">{{ documentoSeleccionado.nombreArchivo }}</h5>

					<div class="flex items-center flex-no-wrap">
						<button nz-tooltip [nzTooltipTitle]="titleDescargarDocumento" nz-button nzType="text" class="mr-7">
							<i nz-icon nzType="download" nzTheme="outline" (click)="descargarDocumento(documentoSeleccionado.idDocumento, documentoSeleccionado.nombreArchivo)"></i>
						</button>

						<button
						nz-popconfirm
						[nzPopconfirmTitle]="titleConfirmarEliminar"
						(nzOnConfirm)="eliminarDocumento(documentoSeleccionado.idDocumento)"
						 nz-tooltip [nzTooltipTitle]="titleEliminar" class="text-red-600 hover:text-red-800" nz-button nzType="text">
							<i nz-icon nzType="delete" nzTheme="outline"></i>
						</button>
						<ng-template #titleDescargarDocumento>
							<span lang langLabel="vs-tooltip:descargar-documento">Descargar documento</span>
						</ng-template>
						<ng-template #titleEliminar>
							<span lang langLabel="vs-tooltip:eliminar">Eliminar</span>
						</ng-template>
						<ng-template #titleConfirmarEliminar>
							<span lang langLabel="vs-tooltip:confirmar-eliminar">Eliminar</span>
						</ng-template>
					</div>
				</div>

				<ng-container *ngIf="documentoSeleccionado.idDocumento; else noFileAvailable">
					<vs-document-viewer class="w-full h-full" [codigoDocumento]="documentoSeleccionado.idDocumento"></vs-document-viewer>
				</ng-container>
			</div>
		</ng-container>
	</div>

</div>

<ng-template #noFileAvailable>
	<div class="w-full flex items-center justify-center px-20 py-25">
		<i nz-icon class="w-full display-block m-0 text-center text-theme-primary mb-10" style="font-size: 4rem;" nzType="file-unknown" nzTheme="outline"></i>

		<p class="w-full display-block m-0 font-medium text-center">El fichero seleccionado no puede ser visualizado.</p>
	</div>
</ng-template>
